.wrapper #info article #texto #formulario {

	border:none;
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	border-radius:1em;

	-moz-box-shadow: 0px 0px 12px #aaa;
	-webkit-box-shadow: 0px 0px 12px #aaa;
	box-shadow: 0px 0px 12px #aaa;	

	background-color: #eee;	

	padding: 2em;	max-width: 300px;
	
	margin: 40px auto;
}	
.wrapper #info article #texto #formulario input, 
.wrapper #info article #texto #formulario textarea {
	border:#aaa thin solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	padding: 2px;
	display: block;
	margin: 10px 0; 

}
.wrapper #info article #texto #formulario label {

	color: #666;
	font-weight: bold;
	
}